In [57]:
#importing necessary libraries 

import pandas as pd  
import numpy as np

# Dataset -> Listings detailed

In [58]:
listings_detailed = pd.read_csv('listings2.csv', low_memory=False)
listings_detailed.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6499,https://www.airbnb.com/rooms/6499,20200128033557,2020-01-28,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...",Fully furnished apartment (35m2). Small inside...,"This apartment is all about Location, next to ...",none,"To get to the city center, tram 15 stops in f...",...,t,f,moderate,f,f,1,1,0,0,0.39
1,25659,https://www.airbnb.com/rooms/25659,20200128033557,2020-01-28,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,"Charming, sunny, cozy apartment in the heart o...",Sunny 1 Bedroom cozy apartment in historic Alf...,none,Alfama is the oldest and most picturesque quar...,...,t,f,moderate,f,f,1,1,0,0,1.61
2,28066,https://www.airbnb.com/rooms/28066,20200128033557,2020-01-29,ear the birds,NaN,traditional farm house in a quiet place where ...,traditional farm house in a quiet place where ...,none,NaN,...,f,f,flexible,f,f,1,0,1,0,NaN
3,29138,https://www.airbnb.com/rooms/29138,20200128033557,2020-01-28,Room for rent in shared house,NaN,"05 minutes from city center by subway, 10 minu...","05 minutes from city center by subway, 10 minu...",none,NaN,...,f,f,flexible,f,f,1,0,1,0,NaN
4,29248,https://www.airbnb.com/rooms/29248,20200128033557,2020-01-28,Apartamento Alfama com vista para o rio!,NaN,"Located in the city center, and great location...","Located in the city center, and great location...",none,NaN,...,t,f,moderate,f,f,1,1,0,0,2.89

In [59]:
listings_detailed.shape

(25002, 106)

In [60]:
len(listings_detailed.columns.tolist())

106

In [61]:
print(listings_detailed.columns.tolist())

['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'requires_license', 'license', 'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [62]:
#let's remove columns we think won't be useful
low_variance = []

for col in listings_detailed._get_numeric_data():
    minimum = min(listings_detailed[col])
    ninety_perc = np.percentile(listings_detailed[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

['scrape_id', 'calculated_host_listings_count_shared_rooms']

In [63]:
#host_acceptance_rate: All column values are N/A
#country_code and country (All PT)
#business travel ready is all F
#requires licence 
#availability_30,60, etc.... -> availability for the future
#neighbourhood_cleansed too detailed
#scores ratings other than 'review_scores_rating' left since the latest is a weighted average
#'cleaning_fee' included in price
#licence doesnt tell anything about the listing or neighbour since it lisbon is mandatory to have licence 
'''
'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',

to buld a flexiblity scale

'''

columns_to_remove = ['neighbourhood',"scrape_id",'listing_url',"last_scraped","experiences_offered","notes","transit","access","interaction",'number_of_reviews_ltm',
                     "thumbnail_url","house_rules","medium_url","picture_url","xl_picture_url","host_name","host_about",
                     "host_acceptance_rate","host_url","host_thumbnail_url","host_picture_url","host_neighbourhood","host_verifications",
                     "state","market","smart_location","country",'country_code',"minimum_minimum_nights","maximum_minimum_nights",
                     "minimum_maximum_nights",'maximum_maximum_nights',"minimum_nights_avg_ntm","maximum_nights_avg_ntm","calendar_last_scraped",
                     "jurisdiction_names", "street", "calendar_updated", "has_availability", "is_location_exact", "city", "zipcode", 
                     "is_business_travel_ready", "weekly_price", "monthly_price",'maximum_nights', 'availability_30',
                     'availability_60','availability_90','availability_365','square_feet', 'latitude','longitude',
                     "host_id","host_since", "host_location", "host_response_time",'host_response_rate','host_listings_count',
                     'host_total_listings_count','host_has_profile_pic','host_identity_verified','summary','space',
                     'review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication',
                     'review_scores_location','review_scores_value', 'cleaning_fee', 'security_deposit','extra_people',
                     'requires_license','license', 'calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
                     'calculated_host_listings_count_shared_rooms']

data = listings_detailed.drop(columns_to_remove, axis =1)

# Final Columns

In [64]:
print(data.columns.tolist())

['id', 'name', 'description', 'neighborhood_overview', 'host_is_superhost', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'guests_included', 'minimum_nights', 'number_of_reviews', 'first_review', 'last_review', 'review_scores_rating', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'reviews_per_month']

In [65]:
#We can use the info() method to output some general information about the dataframe:

len(data.columns.tolist())

28

In [66]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25002 entries, 0 to 25001
Data columns (total 28 columns):
id                                  25002 non-null int64
name                                24982 non-null object
description                         24675 non-null object
neighborhood_overview               17092 non-null object
host_is_superhost                   25002 non-null object
neighbourhood_cleansed              25002 non-null object
neighbourhood_group_cleansed        25002 non-null object
property_type                       25002 non-null object
room_type                           25002 non-null object
accommodates                        25002 non-null int64
bathrooms                           24973 non-null float64
bedrooms                            24992 non-null float64
beds                                24891 non-null float64
bed_type                            25002 non-null object
amenities                           25002 non-null object
price                               25002 non-null object
guests_included                     25002 non-null int64
minimum_nights                      25002 non-null int64
number_of_reviews                   25002 non-null int64
first_review                        21122 non-null object
last_review                         21122 non-null object
review_scores_rating                20935 non-null float64
instant_bookable                    25002 non-null object
cancellation_policy                 25002 non-null object
require_guest_profile_picture       25002 non-null object
require_guest_phone_verification    25002 non-null object
calculated_host_listings_count      25002 non-null int64
reviews_per_month                   21122 non-null float64
dtypes: float64(5), int64(6), object(17)
memory usage: 5.3+ MB
None

In [67]:
data.describe()

,id,accommodates,bathrooms,bedrooms,beds,guests_included,minimum_nights,number_of_reviews,review_scores_rating,calculated_host_listings_count,reviews_per_month
count,2.500200e+04,25002.000000,24973.000000,24992.000000,24891.000000,25002.000000,25002.000000,25002.000000,20935.000000,25002.000000,21122.000000
mean,2.182569e+07,4.043916,1.438574,1.657050,2.530834,2.040837,2.928966,41.881689,92.449773,15.160707,1.642763
std,1.159542e+07,2.379867,0.909724,1.325917,2.156652,1.662920,13.893752,64.687500,8.565025,41.948986,1.581443
min,6.499000e+03,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,20.000000,1.000000,0.010000
25%,1.324810e+07,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,90.000000,1.000000,0.380000
50%,2.230370e+07,4.000000,1.000000,1.000000,2.000000,2.000000,2.000000,14.000000,95.000000,3.000000,1.130000
75%,3.159456e+07,5.000000,2.000000,2.000000,3.000000,2.000000,3.000000,54.000000,98.000000,10.000000,2.500000
max,4.188291e+07,32.000000,24.000000,100.000000,100.000000,20.000000,1000.000000,866.000000,100.000000,323.000000,17.720000

In [68]:
### MISSING VALUES ###

null_cols = data.isnull().sum()
null_cols[null_cols > 0]

name                       20
description               327
neighborhood_overview    7910
bathrooms                  29
bedrooms                   10
beds                      111
first_review             3880
last_review              3880
review_scores_rating     4067
reviews_per_month        3880
dtype: int64

In [69]:
#makes sense that last review and reviews per month 
#have missing values when number_of_reviews=0. Let's check that:

null_review = data[(data['last_review'].isnull()==True)| (data['reviews_per_month'].isnull()==True)]
null_review['number_of_reviews']

#What to do with the missing values?
#We can see that last_review reviews_per_month is null when number of reviews zero, 
#which makes total sense! Therefore it makes sense to replace the null values with zeros

2        0
3        0
17       0
38       0
41       0
43       0
46       0
48       0
50       0
57       0
64       0
65       0
68       0
96       0
103      0
105      0
117      0
118      0
134      0
136      0
137      0
143      0
153      0
198      0
221      0
287      0
291      0
305      0
309      0
325      0
        ..
24972    0
24973    0
24974    0
24975    0
24976    0
24977    0
24978    0
24979    0
24980    0
24981    0
24982    0
24983    0
24984    0
24985    0
24986    0
24987    0
24988    0
24989    0
24990    0
24991    0
24992    0
24993    0
24994    0
24995    0
24996    0
24997    0
24998    0
24999    0
25000    0
25001    0
Name: number_of_reviews, Length: 3880, dtype: int64

In [70]:
data['neighbourhood_group_cleansed'].unique()

array(['Lisboa', 'Azambuja', 'Cascais', 'Sintra', 'Alenquer', 'Oeiras',
       'Vila Franca De Xira', 'Mafra', 'Torres Vedras', 'Lourinh',
       'Loures', 'Cadaval', 'Amadora', 'Sobral De Monte Agrao',
       'Arruda Dos Vinhos', 'Odivelas'], dtype=object)

# Lisbon city

In [71]:
#####  WE WANT TO ANALYSE DATA IN LISBON ONLY!! #######
data = data[(data['neighbourhood_group_cleansed']=='Lisboa')]

data.head()

,id,name,description,neighborhood_overview,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,...,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,6499,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...","To get to the city center, tram 15 stops in f...",f,Belm,Lisboa,Apartment,Entire home/apt,3,...,26,2014-09-02,2020-01-03,91.0,t,moderate,f,f,1,0.39
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,Alfama is the oldest and most picturesque quar...,t,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,3,...,113,2014-04-24,2019-12-08,96.0,t,moderate,f,f,1,1.61
3,29138,Room for rent in shared house,"05 minutes from city center by subway, 10 minu...",NaN,f,Areeiro,Lisboa,Apartment,Private room,1,...,0,NaN,NaN,NaN,f,flexible,f,f,1,NaN
4,29248,Apartamento Alfama com vista para o rio!,"Located in the city center, and great location...",NaN,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,319,2011-01-01,2019-10-29,91.0,t,moderate,f,f,1,2.89
5,29396,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon....,Great neighborhood in the old part of town. Am...,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,232,2012-05-22,2020-01-12,96.0,t,strict_14_with_grace_period,f,t,2,2.48

In [72]:
#let's check the dataset shape

data.shape

(18265, 28)

#### Listings with no reviews

In [73]:
#we have decided to exclude listings with no first nor last review 
#the below listings don't have enough information for our quality analysis 

null_displ = data[(data['last_review'].isnull()==True)|(data['first_review'].isnull()==True)]
null_displ['review_scores_rating']

3       NaN
17      NaN
38      NaN
43      NaN
64      NaN
105     NaN
117     NaN
118     NaN
153     NaN
198     NaN
305     NaN
385     NaN
389     NaN
395     NaN
398     NaN
550     NaN
610     NaN
628     NaN
673     NaN
701     NaN
772     NaN
863     NaN
925     NaN
981     NaN
1002    NaN
1025    NaN
1055    NaN
1135    NaN
1139    NaN
1196    NaN
         ..
24970   NaN
24971   NaN
24972   NaN
24973   NaN
24974   NaN
24976   NaN
24977   NaN
24978   NaN
24979   NaN
24980   NaN
24981   NaN
24982   NaN
24983   NaN
24984   NaN
24985   NaN
24986   NaN
24987   NaN
24988   NaN
24990   NaN
24991   NaN
24992   NaN
24993   NaN
24994   NaN
24995   NaN
24996   NaN
24997   NaN
24998   NaN
24999   NaN
25000   NaN
25001   NaN
Name: review_scores_rating, Length: 2532, dtype: float64

In [74]:
data = data.dropna(subset=['last_review','first_review'])
data.head()

,id,name,description,neighborhood_overview,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,...,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,6499,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...","To get to the city center, tram 15 stops in f...",f,Belm,Lisboa,Apartment,Entire home/apt,3,...,26,2014-09-02,2020-01-03,91.0,t,moderate,f,f,1,0.39
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,Alfama is the oldest and most picturesque quar...,t,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,3,...,113,2014-04-24,2019-12-08,96.0,t,moderate,f,f,1,1.61
4,29248,Apartamento Alfama com vista para o rio!,"Located in the city center, and great location...",NaN,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,319,2011-01-01,2019-10-29,91.0,t,moderate,f,f,1,2.89
5,29396,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon....,Great neighborhood in the old part of town. Am...,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,232,2012-05-22,2020-01-12,96.0,t,strict_14_with_grace_period,f,t,2,2.48
6,29720,TheHOUSE - Your luxury home,"A house at the top of an anonimous building, T...","Location in the city's Embassies area, near en...",t,Estrela,Lisboa,Apartment,Entire home/apt,16,...,52,2011-01-05,2020-01-03,98.0,f,strict_14_with_grace_period,f,t,2,0.47

In [75]:
data.shape

(15733, 28)

In [76]:
data['review_scores_rating']

0         91.0
1         96.0
4         91.0
5         96.0
6         98.0
7         93.0
8        100.0
9         88.0
10        88.0
11        84.0
16        90.0
18       100.0
19        92.0
20        96.0
21        92.0
22        92.0
23        87.0
25        88.0
26        92.0
27        99.0
28        95.0
29        94.0
30        95.0
31        88.0
32        90.0
33        94.0
34        83.0
35        96.0
39        98.0
42        97.0
         ...
24607     92.0
24608     80.0
24610    100.0
24625    100.0
24626     80.0
24638     60.0
24641    100.0
24644    100.0
24645    100.0
24648    100.0
24657      NaN
24703    100.0
24712    100.0
24715    100.0
24721     90.0
24724    100.0
24725    100.0
24732     95.0
24739     90.0
24740     80.0
24744    100.0
24745    100.0
24761    100.0
24793    100.0
24794    100.0
24795    100.0
24797    100.0
24798    100.0
24818    100.0
24898    100.0
Name: review_scores_rating, Length: 15733, dtype: float64

### Final data cleaning

In [77]:
#let's check datatypes
data.dtypes

id                                    int64
name                                 object
description                          object
neighborhood_overview                object
host_is_superhost                    object
neighbourhood_cleansed               object
neighbourhood_group_cleansed         object
property_type                        object
room_type                            object
accommodates                          int64
bathrooms                           float64
bedrooms                            float64
beds                                float64
bed_type                             object
amenities                            object
price                                object
guests_included                       int64
minimum_nights                        int64
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
instant_bookable                     object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
dtype: object

In [78]:
data['price']

0           $40.00
1           $60.00
4           $60.00
5           $60.00
6        $1,000.00
7           $45.00
8           $40.00
9           $70.00
10          $50.00
11          $65.00
16          $60.00
18          $69.00
19          $40.00
20          $80.00
21          $90.00
22          $70.00
23          $85.00
25          $80.00
26          $92.00
27         $105.00
28          $65.00
29          $75.00
30         $125.00
31         $145.00
32          $50.00
33          $90.00
34          $22.00
35          $80.00
39          $26.00
42          $48.00
           ...
24607       $45.00
24608       $45.00
24610      $148.00
24625      $150.00
24626       $40.00
24638       $40.00
24641       $45.00
24644      $110.00
24645      $120.00
24648       $20.00
24657       $37.00
24703       $69.00
24712       $65.00
24715       $50.00
24721       $50.00
24724       $50.00
24725       $45.00
24732       $80.00
24739      $359.00
24740       $35.00
24744      $146.00
24745       $20.00
24761       $32.00
24793       $60.00
24794       $65.00
24795      $100.00
24797       $80.00
24798       $80.00
24818       $50.00
24898       $50.00
Name: price, Length: 15733, dtype: object

In [79]:
#let's change price type from object to float
# but first we neeed to remove special characters --> $ symbol
data['price'] = data['price'].str.replace('$', '')
data['price'] = data['price'].str.replace(',', '')

data['price'] = data.price.astype(float)

data['price'].dtypes #sucess!

dtype('float64')

In [80]:
#also it does not make sense to have data points with price zero
price_zero = data[(data['price']==0)]
price_zero

,id,name,description,neighborhood_overview,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,...,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
11174,20385175,Mouraria Apartments in Beco de SM (II),If you are looking for a place to live during ...,If you are looking for a place to live during ...,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,2,...,26,2017-08-17,2019-09-30,76.0,t,strict_14_with_grace_period,f,f,14,0.87
11201,20436203,Elegant Flat with a Beautiful View,"Elegant apartment with a beautiful view, idea...",LX Factory It’s in the year 1846 that a thread...,f,Alcntara,Lisboa,Apartment,Entire home/apt,4,...,26,2017-10-16,2020-01-03,93.0,t,moderate,f,f,6,0.93
11202,20436797,Spacious Apartment near the River,This is an apartment with much light for a gro...,LX Factory It’s in the year 1846 that a thread...,f,Alcntara,Lisboa,Apartment,Entire home/apt,4,...,8,2017-09-17,2019-09-28,88.0,t,moderate,f,f,6,0.28
11323,20613763,Double Bed Room I04,Private room with a double bed in a shared apa...,NaN,f,Arroios,Lisboa,Apartment,Private room,2,...,1,2017-08-28,2017-08-28,40.0,f,flexible,f,f,10,0.03
11375,20690078,Double Bed Room N04,Private room with a double bed in a shared apa...,"Student’s home is located in Lisboa, Portugal....",f,Arroios,Lisboa,Apartment,Private room,2,...,2,2017-09-06,2017-09-08,70.0,f,flexible,f,f,10,0.07

In [81]:
## remove those rows

data = data.drop([11174,11201,11202,11323,11375], axis=0)

In [82]:
price_zero = data[(data['price']==0)]
price_zero

Empty DataFrame
Columns: [id, name, description, neighborhood_overview, host_is_superhost, neighbourhood_cleansed, neighbourhood_group_cleansed, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, price, guests_included, minimum_nights, number_of_reviews, first_review, last_review, review_scores_rating, instant_bookable, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification, calculated_host_listings_count, reviews_per_month]
Index: []

[0 rows x 28 columns]

In [83]:
#convert fist and last review into data type data format

data['last_review'] = pd.to_datetime(data['last_review'])
data['first_review'] = pd.to_datetime(data['first_review'])

In [84]:
#remove outliers from price 
data = data.drop([21642, 9172, 22572, 10845, 24314, 22929, 18812, 1181 ], axis=0)

In [85]:
# listing_duration = (last_review - first_review) -> value to be evaluated in days

data.insert(21, "listing_duration", data['last_review'] - data["first_review"], True)

In [86]:
data['listing_duration'].unique()

array([168393600000000000, 177465600000000000, 278467200000000000, ...,
        13996800000000000,   8467200000000000,   9936000000000000],
      dtype='timedelta64[ns]')

In [87]:
#transform into days

data["listing_duration"]=  (data['last_review'] - data["first_review"]).dt.days
data['listing_duration'].unique()

array([1949, 2054, 3223, ...,  162,   98,  115], dtype=int64)

In [88]:
data.dtypes

id                                           int64
name                                        object
description                                 object
neighborhood_overview                       object
host_is_superhost                           object
neighbourhood_cleansed                      object
neighbourhood_group_cleansed                object
property_type                               object
room_type                                   object
accommodates                                 int64
bathrooms                                  float64
bedrooms                                   float64
beds                                       float64
bed_type                                    object
amenities                                   object
price                                      float64
guests_included                              int64
minimum_nights                               int64
number_of_reviews                            int64
first_review                        datetime64[ns]
last_review                         datetime64[ns]
listing_duration                             int64
review_scores_rating                       float64
instant_bookable                            object
cancellation_policy                         object
require_guest_profile_picture               object
require_guest_phone_verification            object
calculated_host_listings_count               int64
reviews_per_month                          float64
dtype: object

In [89]:
#renaming columns so that it's more intuitive 
data = data.rename(columns={'neighbourhood_cleansed':'neighbourhood',
                            'neighbourhood_group_cleansed':'city'})

In [90]:
print(data.columns.tolist())

['id', 'name', 'description', 'neighborhood_overview', 'host_is_superhost', 'neighbourhood', 'city', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'guests_included', 'minimum_nights', 'number_of_reviews', 'first_review', 'last_review', 'listing_duration', 'review_scores_rating', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'reviews_per_month']

In [91]:
## order columns 

column_order = ['id', 'name', 'city','neighbourhood', 'price','description', 'neighborhood_overview',   
                'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 
                'amenities',  'guests_included', 'minimum_nights', 'number_of_reviews', 'first_review', 'last_review',
                'listing_duration', 'review_scores_rating', 'host_is_superhost','instant_bookable', 'cancellation_policy', 
                'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 
                'reviews_per_month']

data = data[column_order]
data.head()

,id,name,city,neighbourhood,price,description,neighborhood_overview,property_type,room_type,accommodates,...,last_review,listing_duration,review_scores_rating,host_is_superhost,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,6499,Belém 1 Bedroom Historical Apartment,Lisboa,Belm,40.0,"This apartment is all about Location, next to ...","To get to the city center, tram 15 stops in f...",Apartment,Entire home/apt,3,...,2020-01-03,1949,91.0,f,t,moderate,f,f,1,0.39
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Lisboa,Santa Maria Maior,60.0,Sunny 1 Bedroom cozy apartment in historic Alf...,Alfama is the oldest and most picturesque quar...,Apartment,Entire home/apt,3,...,2019-12-08,2054,96.0,t,t,moderate,f,f,1,1.61
4,29248,Apartamento Alfama com vista para o rio!,Lisboa,Santa Maria Maior,60.0,"Located in the city center, and great location...",NaN,Apartment,Entire home/apt,4,...,2019-10-29,3223,91.0,f,t,moderate,f,f,1,2.89
5,29396,Alfama Hill - Boutique apartment,Lisboa,Santa Maria Maior,60.0,Feel at home in the historic centre of Lisbon....,Great neighborhood in the old part of town. Am...,Apartment,Entire home/apt,4,...,2020-01-12,2791,96.0,f,t,strict_14_with_grace_period,f,t,2,2.48
6,29720,TheHOUSE - Your luxury home,Lisboa,Estrela,1000.0,"A house at the top of an anonimous building, T...","Location in the city's Embassies area, near en...",Apartment,Entire home/apt,16,...,2020-01-03,3285,98.0,t,f,strict_14_with_grace_period,f,t,2,0.47

# A Neighborhood Analysis

In [92]:
data['neighbourhood'].unique()

array(['Belm', 'Santa Maria Maior', 'Estrela', 'Avenidas Novas', 'Lumiar',
       'Misericrdia', 'So Vicente', 'Campolide', 'Santo Antnio',
       'Alvalade', 'Penha de Frana', 'Arroios', 'Alcntara', 'Areeiro',
       'Ajuda', 'Parque das Naes', 'Campo de Ourique', 'Benfica',
       'Olivais', 'So Domingos de Benfica', 'Beato', 'Marvila', 'Carnide',
       'Santa Clara'], dtype=object)

In [93]:
#is this step necessary?

test_df= data.groupby(['neighbourhood'])['neighbourhood'].count()
test_df.sort_values(ascending= False)

neighbourhood
Santa Maria Maior         3388
Misericrdia               2786
Arroios                   1977
So Vicente                1350
Santo Antnio              1292
Estrela                    993
Avenidas Novas             612
Penha de Frana             521
Areeiro                    330
Campo de Ourique           323
Belm                       307
Parque das Naes            305
Alcntara                   288
Alvalade                   224
Olivais                    176
Ajuda                      168
Campolide                  165
Lumiar                     127
So Domingos de Benfica     123
Beato                       81
Marvila                     69
Benfica                     57
Carnide                     40
Santa Clara                 18
Name: neighbourhood, dtype: int64

In [94]:
#### PRICE ANALYSIS ####
neighbourhood_price = data.groupby(['neighbourhood'])['price'].describe().reset_index()
neighbourhood_price.head()
neighbourhood_price.columns
neighbourhood_price.sort_values(['mean'], ascending = False)

# The neighbourhood with cheapest mean price listings is 'Beato' 
# The neighbourhood with the most expensive mean price  is 'Parque das Nações'
# Highest price variation in Marvila, Lumiar, Santa Maria Maior, Santa Clara e Arroios

,neighbourhood,count,mean,std,min,25%,50%,75%,max
17,Parque das Naes,305.0,100.045902,67.038367,20.0,60.00,86.0,123.00,500.0
13,Lumiar,127.0,91.543307,155.857931,13.0,35.00,50.0,84.00,1000.0
15,Misericrdia,2786.0,87.562455,74.084370,12.0,50.00,70.0,100.00,1000.0
21,Santo Antnio,1292.0,87.094427,65.751336,10.0,50.00,72.5,100.00,1100.0
20,Santa Maria Maior,3388.0,87.006494,64.718280,9.0,50.00,72.0,100.00,1000.0
5,Avenidas Novas,612.0,80.397059,70.487762,9.0,40.00,59.0,98.25,650.0
23,So Vicente,1350.0,79.109630,68.732018,12.0,49.25,65.0,85.00,950.0
12,Estrela,993.0,77.415911,64.610068,14.0,47.00,60.0,90.00,1000.0
0,Ajuda,168.0,75.696429,93.843912,18.0,41.75,55.5,78.50,1000.0
4,Arroios,1977.0,74.684370,73.430546,9.0,39.00,59.0,85.00,1000.0
9,Campo de Ourique,323.0,73.842105,60.619036,8.0,44.50,60.0,90.00,800.0
7,Belm,307.0,70.980456,45.031938,13.0,49.00,62.0,80.00,500.0
22,So Domingos de Benfica,123.0,70.569106,42.168686,9.0,39.00,60.0,94.00,250.0
1,Alcntara,288.0,69.927083,57.234327,15.0,40.00,55.0,80.00,700.0
10,Campolide,165.0,66.618182,63.200173,9.0,35.00,55.0,79.00,712.0
19,Santa Clara,18.0,65.555556,136.782017,9.0,17.75,20.5,47.50,600.0
14,Marvila,69.0,65.304348,68.238187,12.0,39.00,55.0,75.00,550.0
2,Alvalade,224.0,64.526786,53.108901,11.0,35.00,50.0,80.00,450.0
3,Areeiro,330.0,61.009091,50.733614,11.0,30.00,49.0,70.00,400.0
8,Benfica,57.0,58.543860,29.634723,14.0,40.00,55.0,70.00,165.0
11,Carnide,40.0,58.175000,45.664825,9.0,35.00,50.0,66.00,300.0
18,Penha de Frana,521.0,56.763916,33.865968,9.0,32.00,50.0,75.00,250.0
16,Olivais,176.0,55.301136,37.940633,11.0,30.00,49.0,70.00,385.0
6,Beato,81.0,52.679012,26.076247,10.0,35.00,50.0,69.00,137.0

In [95]:
# what neighbourhoods have oldest listings --> this can provide insight on the most habitual touristic areas

neighbourhood_duration = data.groupby(['neighbourhood'])['listing_duration'].describe()
neighbourhood_duration.sort_values(by=['max'], ascending=False)

# Traditional Airbnb Neighbourhoods = Avenidas Novas, Misericordia, Estrela, São Vicente e Santa Maria Maior
# most of them available for more than 9 years

,count,mean,std,min,25%,50%,75%,max
neighbourhood,,,,,,,,
Avenidas Novas,612.0,619.743464,590.456303,0.0,52.00,497.5,1003.00,3468.0
Misericrdia,2786.0,917.089017,709.839051,0.0,337.25,814.5,1355.00,3291.0
Estrela,993.0,711.083585,637.236736,0.0,188.00,538.0,1117.00,3285.0
So Vicente,1350.0,769.329630,625.248390,0.0,263.50,609.5,1157.75,3260.0
Santa Maria Maior,3388.0,929.031287,714.797358,0.0,337.75,795.0,1394.00,3223.0
Santo Antnio,1292.0,740.773220,647.463044,0.0,215.00,570.0,1104.00,3127.0
Alcntara,288.0,579.781250,540.535163,0.0,181.50,441.5,856.75,3092.0
Alvalade,224.0,710.955357,589.699367,0.0,203.00,575.5,1129.00,3066.0
Arroios,1977.0,656.648963,591.464603,0.0,185.00,495.0,1000.00,2994.0
Penha de Frana,521.0,544.664107,511.925788,0.0,153.00,414.0,823.00,2966.0
Campolide,165.0,542.878788,577.872979,0.0,127.00,394.0,803.00,2853.0
Campo de Ourique,323.0,652.529412,544.645900,0.0,170.50,561.0,968.50,2735.0
Belm,307.0,636.726384,568.316005,0.0,147.00,481.0,982.00,2617.0
Areeiro,330.0,545.727273,516.903151,0.0,84.25,444.5,862.25,2604.0
Ajuda,168.0,647.791667,570.364658,0.0,209.00,515.0,915.50,2528.0
Benfica,57.0,611.736842,561.168122,0.0,198.00,481.0,814.00,2477.0
Olivais,176.0,547.579545,525.784534,0.0,125.50,412.5,847.00,2430.0
So Domingos de Benfica,123.0,500.463415,535.546317,0.0,37.50,356.0,773.50,2320.0
Lumiar,127.0,479.826772,548.172666,0.0,17.50,349.0,799.00,2315.0
Parque das Naes,305.0,586.970492,508.539306,0.0,148.00,494.0,896.00,2279.0
Beato,81.0,674.950617,561.247648,0.0,200.00,511.0,1218.00,2199.0
Marvila,69.0,470.782609,472.445137,0.0,67.00,388.0,779.00,1987.0
Carnide,40.0,389.200000,432.337961,0.0,95.50,239.5,514.00,1838.0
Santa Clara,18.0,324.277778,352.971388,0.0,1.75,179.0,528.75,1111.0

In [96]:
## which neighbourhoods have best ratings from costumers? 

neighbourhood_reviews = data.groupby(['neighbourhood'])['review_scores_rating'].describe()
neighbourhood_reviews.sort_values(by=['mean'], ascending = False)

#'Santa Clara' is the best rated neighbourhood 
# However, it has had only 17 reviews.

,count,mean,std,min,25%,50%,75%,max
neighbourhood,,,,,,,,
Santa Clara,17.0,96.588235,3.906066,87.0,95.00,97.0,100.0,100.0
Alvalade,223.0,93.497758,7.849298,20.0,91.00,95.0,98.0,100.0
Olivais,174.0,93.264368,8.486589,20.0,91.00,95.0,99.0,100.0
Parque das Naes,298.0,93.137584,8.917006,20.0,92.00,96.0,99.0,100.0
So Vicente,1338.0,92.982810,6.597783,40.0,90.00,94.0,97.0,100.0
Alcntara,285.0,92.852632,7.012517,55.0,90.00,94.0,98.0,100.0
Ajuda,168.0,92.779762,7.641226,40.0,90.00,95.0,97.0,100.0
Campo de Ourique,320.0,92.687500,8.427219,40.0,90.00,95.0,98.0,100.0
Carnide,38.0,92.605263,8.845642,60.0,88.25,95.0,100.0,100.0
So Domingos de Benfica,120.0,92.475000,8.742788,60.0,88.00,95.0,100.0,100.0
Lumiar,124.0,92.346774,10.661110,40.0,90.00,96.5,100.0,100.0
Benfica,57.0,92.315789,10.576520,40.0,90.00,96.0,98.0,100.0
Santa Maria Maior,3376.0,92.255628,7.561509,20.0,90.00,94.0,97.0,100.0
Areeiro,325.0,92.233846,9.575275,20.0,90.00,94.0,98.0,100.0
Marvila,68.0,92.191176,12.970986,20.0,90.00,96.0,100.0,100.0
Belm,306.0,91.977124,11.325706,20.0,90.00,95.0,98.0,100.0
Santo Antnio,1283.0,91.855027,8.846544,20.0,89.00,94.0,98.0,100.0
Misericrdia,2770.0,91.782671,8.157690,20.0,89.00,94.0,97.0,100.0
Estrela,987.0,91.746707,8.573077,20.0,90.00,93.0,97.0,100.0
Avenidas Novas,606.0,91.679868,9.980137,20.0,89.00,95.0,98.0,100.0
Penha de Frana,517.0,91.560928,9.319203,20.0,89.00,94.0,97.0,100.0
Campolide,160.0,91.525000,10.033873,20.0,88.75,93.5,98.0,100.0
Arroios,1958.0,90.956588,9.664513,20.0,88.00,93.0,97.0,100.0
Beato,80.0,89.550000,8.878790,60.0,85.00,91.0,97.0,100.0

In [97]:
#sort by number of reviewes - other insight on the most habitual touristic areas!!!!

neighbourhood_reviews = data.groupby(['neighbourhood'])['review_scores_rating'].describe()
neighbourhood_reviews.sort_values(by=['count'], ascending = False)

#'Santa Maria Maior' is the most rated neighbourhood.
# this area includes Baixa de Lisboa, Cais de Sodre and Terreiro do Paço (LET'S PUT PICTURE IN THE SLIDES) 
# As we all know these are super touristic areas, therefore confirming our hyphotesis that the most reviewed areas are also the ones tourists tend to choose
# number of reviews is a good proxy for level of tourism 
# Maybe the backpacker would prefer to stay in a more hipster area? Example 'Beato', which also happens to be the cheapest!

,count,mean,std,min,25%,50%,75%,max
neighbourhood,,,,,,,,
Santa Maria Maior,3376.0,92.255628,7.561509,20.0,90.00,94.0,97.0,100.0
Misericrdia,2770.0,91.782671,8.157690,20.0,89.00,94.0,97.0,100.0
Arroios,1958.0,90.956588,9.664513,20.0,88.00,93.0,97.0,100.0
So Vicente,1338.0,92.982810,6.597783,40.0,90.00,94.0,97.0,100.0
Santo Antnio,1283.0,91.855027,8.846544,20.0,89.00,94.0,98.0,100.0
Estrela,987.0,91.746707,8.573077,20.0,90.00,93.0,97.0,100.0
Avenidas Novas,606.0,91.679868,9.980137,20.0,89.00,95.0,98.0,100.0
Penha de Frana,517.0,91.560928,9.319203,20.0,89.00,94.0,97.0,100.0
Areeiro,325.0,92.233846,9.575275,20.0,90.00,94.0,98.0,100.0
Campo de Ourique,320.0,92.687500,8.427219,40.0,90.00,95.0,98.0,100.0
Belm,306.0,91.977124,11.325706,20.0,90.00,95.0,98.0,100.0
Parque das Naes,298.0,93.137584,8.917006,20.0,92.00,96.0,99.0,100.0
Alcntara,285.0,92.852632,7.012517,55.0,90.00,94.0,98.0,100.0
Alvalade,223.0,93.497758,7.849298,20.0,91.00,95.0,98.0,100.0
Olivais,174.0,93.264368,8.486589,20.0,91.00,95.0,99.0,100.0
Ajuda,168.0,92.779762,7.641226,40.0,90.00,95.0,97.0,100.0
Campolide,160.0,91.525000,10.033873,20.0,88.75,93.5,98.0,100.0
Lumiar,124.0,92.346774,10.661110,40.0,90.00,96.5,100.0,100.0
So Domingos de Benfica,120.0,92.475000,8.742788,60.0,88.00,95.0,100.0,100.0
Beato,80.0,89.550000,8.878790,60.0,85.00,91.0,97.0,100.0
Marvila,68.0,92.191176,12.970986,20.0,90.00,96.0,100.0,100.0
Benfica,57.0,92.315789,10.576520,40.0,90.00,96.0,98.0,100.0
Carnide,38.0,92.605263,8.845642,60.0,88.25,95.0,100.0,100.0
Santa Clara,17.0,96.588235,3.906066,87.0,95.00,97.0,100.0,100.0

In [98]:
# If i want to come to lisbon of a short weekend which neighbourhood would be easier? 
#(e.g. would have less min nights)

neighbourhood_minimum_nights = data.groupby(['neighbourhood'])['minimum_nights'].describe()
neighbourhood_minimum_nights.sort_values(by=['mean'], ascending = True)

# Santa Maria Maior seems to be, on average, the neighbourhood with the lowest minimum nights requested
# Once again confirming the hypothesis of an area more focused on tourism. in this case, short term visits

#If I'm looking for a long term stay (e.g. 6 months) i'd have to look in areas like 
#'Misericrdia', 'Santo Antnio', 'Penha de França" and 'Olivais'

,count,mean,std,min,25%,50%,75%,max
neighbourhood,,,,,,,,
Santa Maria Maior,3388.0,2.226387,2.303728,1.0,2.0,2.0,3.00,80.0
Ajuda,168.0,2.297619,1.833029,1.0,2.0,2.0,3.00,20.0
Alcntara,288.0,2.312500,1.803862,1.0,2.0,2.0,3.00,20.0
Misericrdia,2786.0,2.383345,6.094545,1.0,2.0,2.0,3.00,300.0
Areeiro,330.0,2.403030,2.702806,1.0,1.0,2.0,3.00,30.0
Estrela,993.0,2.411883,3.370373,1.0,2.0,2.0,3.00,90.0
So Vicente,1350.0,2.417037,1.799062,1.0,2.0,2.0,3.00,30.0
Beato,81.0,2.444444,2.454588,1.0,2.0,2.0,3.00,20.0
Campo de Ourique,323.0,2.461300,1.941910,1.0,2.0,2.0,3.00,21.0
Parque das Naes,305.0,2.478689,2.980259,1.0,1.0,2.0,3.00,30.0
Lumiar,127.0,2.559055,2.885799,1.0,1.0,2.0,3.00,30.0
Benfica,57.0,2.578947,2.419765,1.0,1.0,2.0,3.00,14.0
Arroios,1977.0,2.644411,5.453754,1.0,1.0,2.0,3.00,120.0
So Domingos de Benfica,123.0,2.658537,2.666825,1.0,1.0,2.0,3.00,15.0
Santo Antnio,1292.0,2.726006,10.731531,1.0,1.0,2.0,3.00,365.0
Penha de Frana,521.0,2.896353,13.248396,1.0,2.0,2.0,3.00,300.0
Avenidas Novas,612.0,3.003268,7.751035,1.0,1.0,2.0,3.00,90.0
Belm,307.0,3.104235,9.915767,1.0,1.0,2.0,3.00,120.0
Olivais,176.0,3.170455,15.126682,1.0,1.0,1.0,2.00,200.0
Campolide,165.0,3.296970,5.089713,1.0,1.0,2.0,3.00,30.0
Marvila,69.0,3.521739,10.655858,1.0,1.0,2.0,3.00,90.0
Alvalade,224.0,4.312500,17.041248,1.0,1.0,2.0,3.00,180.0
Carnide,40.0,4.575000,7.652342,1.0,2.0,2.0,3.00,30.0
Santa Clara,18.0,6.666667,10.792154,1.0,1.0,2.0,3.75,30.0

## Value for Money

_"A utility derived from every purchase or every sum of money spent."_


.....How inspirational.....

In [99]:
# value_money = review_scores_rating/price

data.insert(5, "value_money", data["review_scores_rating"]/data['price'], True)

#### Value for money and Neighbourhood

In [100]:
neighbourhood_value_money = data.groupby(['neighbourhood'])['value_money'].describe()
neighbourhood_value_money = neighbourhood_value_money.sort_values(by=['mean'], ascending=False)
neighbourhood_value_money
#Santa Clara seems to be the best value for money
#Have you seen where Santa Clara is? It's basically Ameixoeira
#I think its intesting to explore this. The best value for money neighbourhood is in an absolutly not touristic area

,count,mean,std,min,25%,50%,75%,max
neighbourhood,,,,,,,,
Santa Clara,17.0,4.675917,2.915218,0.156667,2.475000,4.700000,5.882353,10.777778
Areeiro,325.0,2.355607,1.639764,0.316667,1.276316,1.904762,3.000000,8.909091
Olivais,174.0,2.305395,1.382242,0.259740,1.346154,1.960000,2.890517,8.333333
Beato,80.0,2.239341,1.345456,0.640000,1.389312,1.760482,2.705462,8.000000
Penha de Frana,517.0,2.215976,1.404766,0.200000,1.250000,1.800000,2.800000,10.444444
Alvalade,223.0,2.188012,1.443476,0.208889,1.208333,1.724138,2.757143,8.363636
Marvila,68.0,2.162052,1.452901,0.161290,1.300513,1.687879,2.544872,7.500000
Carnide,38.0,2.140977,1.526354,0.323333,1.427536,1.696970,2.778571,9.888889
Campolide,160.0,2.068875,1.590476,0.500000,1.159855,1.625000,2.500000,10.555556
Benfica,57.0,1.972608,1.022854,0.551515,1.280000,1.666667,2.285714,5.388889
Lumiar,124.0,1.941908,1.230555,0.095000,1.084465,1.600000,2.564103,6.666667
Arroios,1958.0,1.891874,1.241593,0.080000,1.063645,1.549194,2.352206,8.700000
So Domingos de Benfica,120.0,1.870858,1.316021,0.400000,0.980294,1.519231,2.425000,10.000000
Campo de Ourique,320.0,1.870112,1.440100,0.122500,1.010420,1.512571,2.090104,12.500000
Alcntara,285.0,1.859996,1.097015,0.142857,1.123596,1.672414,2.285714,6.666667
Avenidas Novas,606.0,1.859174,1.417236,0.120000,0.962500,1.475750,2.250000,11.111111
Ajuda,168.0,1.841071,1.011627,0.080000,1.184743,1.616667,2.161111,5.555556
Belm,306.0,1.699734,1.053020,0.180000,1.128411,1.473756,1.939694,7.000000
Estrela,987.0,1.640109,0.951067,0.098000,1.022100,1.500000,1.955556,6.785714
So Vicente,1338.0,1.608294,0.881334,0.103158,1.078652,1.450000,1.900000,8.000000
Santo Antnio,1283.0,1.497327,0.946971,0.077273,0.900000,1.266667,1.820000,7.076923
Santa Maria Maior,3376.0,1.438696,0.867480,0.040000,0.910000,1.280000,1.759444,10.333333
Misericrdia,2770.0,1.427229,0.796267,0.070000,0.928752,1.277047,1.745455,7.384615
Parque das Naes,298.0,1.308997,0.852978,0.166667,0.769231,1.114379,1.583333,5.000000

In [101]:
#Maybe we could explore the best value for money, among the most rated 

neighbourhood_value_money.loc[neighbourhood_value_money['count']> 200]

#among the neighbourhoods with more than 200 reviews,'Areeiro'holds best value for money
#Once again not a touristic area

,count,mean,std,min,25%,50%,75%,max
neighbourhood,,,,,,,,
Areeiro,325.0,2.355607,1.639764,0.316667,1.276316,1.904762,3.000000,8.909091
Penha de Frana,517.0,2.215976,1.404766,0.200000,1.250000,1.800000,2.800000,10.444444
Alvalade,223.0,2.188012,1.443476,0.208889,1.208333,1.724138,2.757143,8.363636
Arroios,1958.0,1.891874,1.241593,0.080000,1.063645,1.549194,2.352206,8.700000
Campo de Ourique,320.0,1.870112,1.440100,0.122500,1.010420,1.512571,2.090104,12.500000
Alcntara,285.0,1.859996,1.097015,0.142857,1.123596,1.672414,2.285714,6.666667
Avenidas Novas,606.0,1.859174,1.417236,0.120000,0.962500,1.475750,2.250000,11.111111
Belm,306.0,1.699734,1.053020,0.180000,1.128411,1.473756,1.939694,7.000000
Estrela,987.0,1.640109,0.951067,0.098000,1.022100,1.500000,1.955556,6.785714
So Vicente,1338.0,1.608294,0.881334,0.103158,1.078652,1.450000,1.900000,8.000000
Santo Antnio,1283.0,1.497327,0.946971,0.077273,0.900000,1.266667,1.820000,7.076923
Santa Maria Maior,3376.0,1.438696,0.867480,0.040000,0.910000,1.280000,1.759444,10.333333
Misericrdia,2770.0,1.427229,0.796267,0.070000,0.928752,1.277047,1.745455,7.384615
Parque das Naes,298.0,1.308997,0.852978,0.166667,0.769231,1.114379,1.583333,5.000000

In [102]:
#let's increase our threshold:

neighbourhood_value_money.loc[neighbourhood_value_money['count']> 1000]

#among the neighbourhoods with more than 1000 reviews,'Arroios'holds best value for money
#This is a "new", "hipster", growing area in Lisbon incuding sections like Anjos, Martim Moniz!!

,count,mean,std,min,25%,50%,75%,max
neighbourhood,,,,,,,,
Arroios,1958.0,1.891874,1.241593,0.080000,1.063645,1.549194,2.352206,8.700000
So Vicente,1338.0,1.608294,0.881334,0.103158,1.078652,1.450000,1.900000,8.000000
Santo Antnio,1283.0,1.497327,0.946971,0.077273,0.900000,1.266667,1.820000,7.076923
Santa Maria Maior,3376.0,1.438696,0.867480,0.040000,0.910000,1.280000,1.759444,10.333333
Misericrdia,2770.0,1.427229,0.796267,0.070000,0.928752,1.277047,1.745455,7.384615

#### Room Type  - Price

In [103]:
room_price = data.groupby(['room_type'])['price'].describe().reset_index()
room_price.sort_values(by=['mean'])

,room_type,count,mean,std,min,25%,50%,75%,max
3,Shared room,170.0,18.735294,8.897539,9.0,13.0,16.0,20.00,60.0
2,Private room,3170.0,42.717981,38.627502,8.0,25.0,35.0,50.00,1000.0
0,Entire home/apt,12102.0,89.867708,66.249931,9.0,55.0,75.0,100.00,1100.0
1,Hotel room,278.0,127.410072,176.232793,13.0,50.0,75.5,138.75,1000.0

In [152]:
# Group by neighbourhood and type of place
neighbourhood_rooms = data.groupby(['room_type','neighbourhood'])['price'].agg(['mean', 'median']).reset_index()

neighbourhood_rooms.sort_values(by=['mean'], ascending= True)
neighbourhood_rooms

          room_type           neighbourhood        mean  median
0   Entire home/apt                   Ajuda   84.057143    60.0
1   Entire home/apt                Alcntara   79.421525    69.0
2   Entire home/apt                Alvalade   86.930233    70.0
3   Entire home/apt                 Areeiro   94.331034    75.0
4   Entire home/apt                 Arroios   90.365574    75.0
5   Entire home/apt          Avenidas Novas  109.177083    85.0
6   Entire home/apt                   Beato   61.051724    50.5
7   Entire home/apt                    Belm   76.784232    65.0
8   Entire home/apt                 Benfica   71.764706    62.5
9   Entire home/apt        Campo de Ourique   85.272000    70.0
10  Entire home/apt               Campolide   84.409524    70.0
11  Entire home/apt                 Carnide   70.666667    60.0
12  Entire home/apt                 Estrela   86.063910    69.0
13  Entire home/apt                  Lumiar   99.878049    70.0
14  Entire home/apt                 Marvila   83.558140    67.0
15  Entire home/apt             Misericrdia   91.805958    75.0
16  Entire home/apt                 Olivais   72.558442    60.0
17  Entire home/apt         Parque das Naes  109.250000    95.0
18  Entire home/apt          Penha de Frana   71.882353    65.0
19  Entire home/apt             Santa Clara  179.600000    90.0
20  Entire home/apt       Santa Maria Maior   90.319283    75.0
21  Entire home/apt            Santo Antnio   99.262564    80.0
22  Entire home/apt  So Domingos de Benfica   86.625000    75.0
23  Entire home/apt              So Vicente   84.545455    69.0
24       Hotel room                Alcntara   98.333333    71.0
25       Hotel room                Alvalade   51.200000    50.0
26       Hotel room                 Areeiro   69.000000    69.0
27       Hotel room                 Arroios  142.600000    60.0
28       Hotel room          Avenidas Novas  118.326923   137.0
29       Hotel room                    Belm   52.000000    39.5
..              ...                     ...         ...     ...
53     Private room                 Marvila   35.800000    30.0
54     Private room             Misericrdia   47.567251    39.0
55     Private room                 Olivais   35.752941    30.0
56     Private room         Parque das Naes   56.324324    45.0
57     Private room          Penha de Frana   31.791444    30.0
58     Private room             Santa Clara   21.692308    20.0
59     Private room       Santa Maria Maior   45.327465    40.0
60     Private room            Santo Antnio   44.865672    38.0
61     Private room  So Domingos de Benfica   40.697674    37.0
62     Private room              So Vicente   39.913043    34.0
63      Shared room                   Ajuda   25.000000    25.0
64      Shared room                Alcntara   17.750000    18.0
65      Shared room                Alvalade   19.000000    16.0
66      Shared room                 Areeiro   16.041667    15.0
67      Shared room                 Arroios   19.965517    15.0
68      Shared room          Avenidas Novas   15.066667    13.0
69      Shared room                    Belm   15.000000    15.0
70      Shared room                 Benfica   19.666667    20.0
71      Shared room        Campo de Ourique   14.727273    13.0
72      Shared room               Campolide    9.750000    10.0
73      Shared room                 Carnide   25.000000    25.0
74      Shared room                 Estrela   29.000000    29.0
75      Shared room                 Marvila   18.000000    18.0
76      Shared room             Misericrdia   18.454545    17.0
77      Shared room                 Olivais   45.000000    45.0
78      Shared room         Parque das Naes   25.000000    20.0
79      Shared room          Penha de Frana   20.600000    14.0
80      Shared room       Santa Maria Maior   20.933333    15.0
81      Shared room            Santo Antnio   20.461538    20.0
82      Shared room              So Vicente   15.500000    13.5

[83 rows x 4 columns]

#### Room type - Value for Money

In [105]:
room_price = data.groupby(['room_type'])['value_money'].describe().reset_index()
room_price.sort_values(by=['mean'])

,room_type,count,mean,std,min,25%,50%,75%,max
0,Entire home/apt,12030.0,1.317850,0.581882,0.077273,0.918573,1.253165,1.654545,10.333333
1,Hotel room,277.0,1.564349,1.426023,0.040000,0.680851,1.158537,1.666667,7.142857
2,Private room,3124.0,2.775415,1.354549,0.095000,1.821667,2.571429,3.464286,12.500000
3,Shared room,167.0,5.507860,1.737978,1.333333,4.725000,5.714286,6.641026,10.555556

In [106]:
# Group by neighbourhood and type of place
neighbourhood_rooms = data.groupby(['room_type','neighbourhood'])['value_money'].agg(['mean', 'median'])
neighbourhood_rooms.sort_values(by=['room_type','mean'], ascending= True)

                                            mean    median
room_type       neighbourhood
Entire home/apt Parque das Naes         1.095723  1.016162
                Avenidas Novas          1.149659  1.087500
                Santo Antnio            1.189610  1.129412
                Areeiro                 1.251880  1.255137
                Misericrdia             1.269735  1.212917
                Santa Maria Maior       1.297449  1.225000
                So Domingos de Benfica  1.310304  1.228571
                Arroios                 1.319430  1.250000
                Alvalade                1.353399  1.338095
                Campo de Ourique        1.378642  1.318609
                Estrela                 1.380662  1.338235
                Campolide               1.386758  1.328431
                So Vicente              1.420726  1.381963
                Belm                    1.426647  1.428571
                Lumiar                  1.435190  1.330952
                Marvila                 1.441885  1.462687
                Benfica                 1.442036  1.370330
                Penha de Frana          1.473702  1.415385
                Alcntara                1.514796  1.402899
                Olivais                 1.524597  1.478509
                Ajuda                   1.543123  1.552727
                Carnide                 1.624882  1.516667
                Santa Clara             1.631263  1.332341
                Beato                   1.658825  1.640000
Hotel room      Misericrdia             0.692799  0.717949
                So Vicente              1.010663  1.133459
                Avenidas Novas          1.311630  0.643333
                Olivais                 1.313710  1.000000
                Areeiro                 1.318841  1.318841
                Santa Maria Maior       1.396959  1.032609
...                                          ...       ...
Private room    Alcntara                2.976760  2.633333
                Campo de Ourique        3.119589  2.757143
                Olivais                 3.166297  2.915517
                Alvalade                3.275709  2.857143
                Ajuda                   3.320838  3.333333
                Marvila                 3.336419  3.088571
                Carnide                 3.407756  2.857143
                Penha de Frana          3.450983  3.233333
                Beato                   3.678013  3.840000
                Santa Clara             5.612733  4.850000
Shared room     Olivais                 2.222222  2.222222
                Estrela                 3.241379  3.241379
                Ajuda                   3.600000  3.600000
                Benfica                 3.809048  3.720000
                Santo Antnio            4.221224  4.675000
                Parque das Naes         4.343333  4.775000
                Penha de Frana          4.805906  5.555556
                Marvila                 4.944444  4.944444
                Santa Maria Maior       5.156168  5.566667
                Arroios                 5.208516  5.843750
                Alvalade                5.545797  6.000000
                Misericrdia             5.635048  5.555556
                Alcntara                5.637255  5.555556
                Avenidas Novas          5.661484  6.125000
                Areeiro                 6.335324  6.264583
                So Vicente              6.430797  6.883333
                Belm                    6.666667  6.666667
                Campo de Ourique        6.675524  7.153846
                Campolide               9.513889  9.250000
                Carnide                      NaN       NaN

[83 rows x 2 columns]

# Filter for  Personas

We believe that our three personas have different flexibility preferences when choosing their airbnb


#Wich is the best neighbouhood for each persona:

Business: high flex, intermediate comfort, intermediate price, regardless of the tourist location

Backpecker: high flex, low comfy, low price, regardless of the tourist location

Family: moderate flex, high comfy, intermediate to high price, high score rating, cares about the tourist location

In [107]:
#an overall check
data.columns

Index(['id', 'name', 'city', 'neighbourhood', 'price', 'value_money',
       'description', 'neighborhood_overview', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'guests_included', 'minimum_nights', 'number_of_reviews',
       'first_review', 'last_review', 'listing_duration',
       'review_scores_rating', 'host_is_superhost', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

### Flexbility

In [108]:
# Select by cancellation policy
flexible = data[data ['cancellation_policy'] == 'flexible']  # Business/ Backpacker
moderate = data[data['cancellation_policy'] == 'moderate']  # Family
len(flexible)
len(moderate)
# print(type(flexible))
# flexible.head()

5792

In [109]:
# Filter by instant bookable - only flexible
instant_bookable = flexible[flexible['instant_bookable'] == 't']  # Business/ Backpacker
len(instant_bookable)

1688

In [110]:
# Filter by require_picture
no_picture = instant_bookable[instant_bookable['require_guest_profile_picture'] == 'f']   # Business/ Backpacker
len(no_picture) #1688

# Filter by require phone verification
the_most_flexible = no_picture[no_picture['require_guest_phone_verification'] == 'f']   # Business/ Backpacker
len(the_most_flexible)

1681

### Comfort

In [111]:
# Filter by room_type
# Business
business_room_type = the_most_flexible[the_most_flexible['room_type'] == 'Entire home/apt']
len(business_room_type)

# Back
backpacker_room_type = the_most_flexible[the_most_flexible['room_type'] == 'Shared room']
len(backpacker_room_type)

# Family
family_room_type = moderate[moderate['room_type'] == 'Entire home/apt']
len(family_room_type)

4667

### Price/neighbourhood

In [124]:
# Business
business_neighbourhoods = business_room_type.groupby(['neighbourhood'])['price'].describe().reset_index()
business_neighbourhoods = business_neighbourhoods.sort_values(by=['mean'], ascending= False)
business_neighbourhoods.head()

,neighbourhood,count,mean,std,min,25%,50%,75%,max
0,Ajuda,16.0,150.625000,230.081978,49.0,65.50,85.0,127.50,1000.0
18,Santa Clara,1.0,125.000000,NaN,125.0,125.00,125.0,125.00,125.0
3,Areeiro,14.0,113.857143,51.373230,40.0,89.25,102.5,128.75,235.0
5,Avenidas Novas,25.0,113.400000,67.741543,32.0,60.00,80.0,160.00,300.0
16,Parque das Naes,29.0,108.379310,56.789344,32.0,75.00,90.0,130.00,259.0

In [125]:
# Backpacker
backpacker_neighbourhoods = backpacker_room_type.groupby(['neighbourhood'])['price'].agg(['mean', 'median']).reset_index()
backpacker_neighbourhoods = backpacker_neighbourhoods.sort_values(by=['mean'], ascending= True)
backpacker_neighbourhoods.head()

       neighbourhood  mean  median
7     Penha de Frana   9.0     9.0
5               Belm  15.0    15.0
1           Alcntara  18.0    18.0
8  Santa Maria Maior  18.8    15.0
2            Areeiro  19.5    19.5

In [127]:
# Family
family_neighbourhoods = family_room_type.groupby(['neighbourhood'])['price'].agg(['mean', 'median']).reset_index()
family_neighbourhoods = family_neighbourhoods.sort_values(by=['mean'], ascending= False)
family_neighbourhoods.head()

      neighbourhood        mean  median
13           Lumiar  151.875000    70.0
17  Parque das Naes   97.137255    85.0
3           Areeiro   95.641791    70.0
21     Santo Antnio   94.469974    79.0
5    Avenidas Novas   94.184874    80.0

###  Value Money

In [147]:
# Business
business_value_money = business_room_type.groupby(['neighbourhood'])['value_money'].agg(['mean', 'median']).reset_index()
business_value_money = business_value_money.sort_values(by=['mean'], ascending = True)
business_value_money.head()

             neighbourhood      mean    median
3                  Areeiro  0.928850  0.844000
0                    Ajuda  1.091681  1.058235
16         Parque das Naes  1.100014  1.083333
21  So Domingos de Benfica  1.111198  1.242857
5           Avenidas Novas  1.111842  1.087500

In [116]:
# Backpacker
backpacker_value_money = backpacker_room_type.groupby(['neighbourhood'])['value_money'].agg(['mean', 'median']).reset_index()
backpacker_value_money = backpacker_value_money.sort_values(by=['mean'], ascending= False)
backpacker_value_money.head()

       neighbourhood      mean    median
5               Belm  6.666667  6.666667
1           Alcntara  5.555556  5.555556
7     Penha de Frana  5.555556  5.555556
8  Santa Maria Maior  5.061905  5.800000
2            Areeiro  4.926316  4.926316

In [148]:
# Family
family_value_money = family_room_type.groupby(['neighbourhood'])['value_money'].agg(['mean', 'median']).reset_index()
family_value_money = family_value_money.sort_values(by=['mean'], ascending= False)
family_value_money.head()

   neighbourhood      mean    median
6          Beato  1.852101  1.720000
14       Marvila  1.674909  1.627119
11       Carnide  1.661334  1.417837
0          Ajuda  1.591197  1.583333
1       Alcntara  1.566745  1.461538

# Categorize neighbourhoods by price

In [118]:

# Create 5 bins and use the five labels above natural breaks

bins_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
neighbourhoods_bins = pd.cut(data['price'],5, labels=bins_labels)
# Number of obs in each category
neighbourhoods_bins.value_counts()

Very Low     15327
Low            294
Moderate        67
Very High       22
High            10
Name: price, dtype: int64

In [119]:
# Based in quartiles
bins_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
neighbourhoods_bins = pd.qcut(data['price'],5, labels=bins_labels)
# Number of obs in each category
neighbourhoods_bins.value_counts()

Moderate     3375
Very Low     3177
Low          3150
High         3116
Very High    2902
Name: price, dtype: int64

In [120]:
data['Price Categories'] = pd.qcut(data['price'],5, labels=bins_labels)
data.head()

,id,name,city,neighbourhood,price,value_money,description,neighborhood_overview,property_type,room_type,...,listing_duration,review_scores_rating,host_is_superhost,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,Price Categories
0,6499,Belém 1 Bedroom Historical Apartment,Lisboa,Belm,40.0,2.275000,"This apartment is all about Location, next to ...","To get to the city center, tram 15 stops in f...",Apartment,Entire home/apt,...,1949,91.0,f,t,moderate,f,f,1,0.39,Very Low
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Lisboa,Santa Maria Maior,60.0,1.600000,Sunny 1 Bedroom cozy apartment in historic Alf...,Alfama is the oldest and most picturesque quar...,Apartment,Entire home/apt,...,2054,96.0,t,t,moderate,f,f,1,1.61,Moderate
4,29248,Apartamento Alfama com vista para o rio!,Lisboa,Santa Maria Maior,60.0,1.516667,"Located in the city center, and great location...",NaN,Apartment,Entire home/apt,...,3223,91.0,f,t,moderate,f,f,1,2.89,Moderate
5,29396,Alfama Hill - Boutique apartment,Lisboa,Santa Maria Maior,60.0,1.600000,Feel at home in the historic centre of Lisbon....,Great neighborhood in the old part of town. Am...,Apartment,Entire home/apt,...,2791,96.0,f,t,strict_14_with_grace_period,f,t,2,2.48,Moderate
6,29720,TheHOUSE - Your luxury home,Lisboa,Estrela,1000.0,0.098000,"A house at the top of an anonimous building, T...","Location in the city's Embassies area, near en...",Apartment,Entire home/apt,...,3285,98.0,t,f,strict_14_with_grace_period,f,t,2,0.47,Very High

In [154]:
# MAx value for one night in Lisbon
data['price'].max()

1100.0

In [155]:
# Mean value for one night in Lisbon
data['price'].mean()

80.25445292620866