In [2]:
import numpy as np
import pandas as pd
import csv

In [3]:
data=pd.read_csv('Percept20018.csv',sep=';')
#data.drop(_, axis=1)
data

#rev = df['City, State, Country'].apply(foo)

                BARCELONA  6,4
0         1. Ciutat Vella  5,2
1             2. Eixample  6,9
2       3. Sants-Montjuïc  6,2
3            4. Les Corts  7,3
4  5. Sarrià-Sant Gervasi  6,8
5               6. Gràcia  7,0
6       7. Horta-Guinardó  6,3
7           8. Nou Barris  5,9
8          9. Sant Andreu  6,3
9          10. Sant Martí  6,1

In [4]:
data.columns= ["District","Perception"]
data

                 District Perception
0         1. Ciutat Vella        5,2
1             2. Eixample        6,9
2       3. Sants-Montjuïc        6,2
3            4. Les Corts        7,3
4  5. Sarrià-Sant Gervasi        6,8
5               6. Gràcia        7,0
6       7. Horta-Guinardó        6,3
7           8. Nou Barris        5,9
8          9. Sant Andreu        6,3
9          10. Sant Martí        6,1

In [5]:
#data.drop(index=False, axis=1)
#data.drop([-1], axis=1)

#len(data.columns)
#danger_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
#Peerception= pd.qcut(data['Perception'],5, labels=danger_labels)

In [6]:
dataa=pd.read_csv('test20018.csv',sep=';')

In [7]:
dataa

,Unnamed: 0,Unnamed: 1,Unnamed: 2,BARCELONA,1.Ciutat Vella,2.Eixample,3.Sants- Montjuïc,4.Les Corts,5.Sarrià- Sant Gervasi,6.Gràcia,7.Horta- Guinardó,8.Nou Barris,9.Sant Andreu,10.Sant Martí
0,2018,NaN,NaN,5.149,676.0,657.0,1.059,135.0,420.0,238.0,372.0,263.0,477.0,823.0
1,Control preventivo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Negativo,NaN,NaN,1.770,244.0,166.0,370.000,52.0,172.0,103.0,158.0,65.0,167.0,266.0
3,Positivo,NaN,NaN,1.625,159.0,125.0,405.000,28.0,166.0,63.0,139.0,59.0,171.0,297.0
4,Negarse,NaN,NaN,8.000,1.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,5.0
5,Accidente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Negativo,NaN,NaN,42.000,0.0,11.0,6.000,4.0,2.0,2.0,2.0,2.0,4.0,7.0
7,Positivo,NaN,NaN,108.000,6.0,24.0,23.000,6.0,9.0,2.0,7.0,8.0,8.0,15.0
8,Negarse,NaN,NaN,5.000,0.0,0.0,2.000,0.0,0.0,0.0,2.0,0.0,0.0,1.0
9,Infracción,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Negativo,NaN,NaN,172.000,31.0,28.0,38.000,13.0,12.0,6.0,10.0,5.0,9.0,19.0
11,Positivo,NaN,NaN,864.000,129.0,201.0,129.000,22.0,37.0,45.0,39.0,83.0,84.0,93.0
12,Negarse,NaN,NaN,13.000,3.0,2.0,3.000,0.0,1.0,0.0,1.0,0.0,0.0,3.0
13,Síntomas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Negativo,NaN,NaN,68.000,12.0,14.0,9.000,1.0,2.0,1.0,0.0,0.0,2.0,27.0
15,Positivo,NaN,NaN,473.000,91.0,85.0,74.000,9.0,19.0,16.0,13.0,40.0,32.0,90.0
16,Negarse,NaN,NaN,1.000,0.0,1.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:

dta=dataa.drop([0,1,5,9,13], axis=0)
dt=dta.drop(['Unnamed: 1','Unnamed: 2','BARCELONA'], axis=1)
dt

,Unnamed: 0,1.Ciutat Vella,2.Eixample,3.Sants- Montjuïc,4.Les Corts,5.Sarrià- Sant Gervasi,6.Gràcia,7.Horta- Guinardó,8.Nou Barris,9.Sant Andreu,10.Sant Martí
2,Negativo,244.0,166.0,370.0,52.0,172.0,103.0,158.0,65.0,167.0,266.0
3,Positivo,159.0,125.0,405.0,28.0,166.0,63.0,139.0,59.0,171.0,297.0
4,Negarse,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,5.0
6,Negativo,0.0,11.0,6.0,4.0,2.0,2.0,2.0,2.0,4.0,7.0
7,Positivo,6.0,24.0,23.0,6.0,9.0,2.0,7.0,8.0,8.0,15.0
8,Negarse,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0
10,Negativo,31.0,28.0,38.0,13.0,12.0,6.0,10.0,5.0,9.0,19.0
11,Positivo,129.0,201.0,129.0,22.0,37.0,45.0,39.0,83.0,84.0,93.0
12,Negarse,3.0,2.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0
14,Negativo,12.0,14.0,9.0,1.0,2.0,1.0,0.0,0.0,2.0,27.0
15,Positivo,91.0,85.0,74.0,9.0,19.0,16.0,13.0,40.0,32.0,90.0
16,Negarse,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
cols_to_sum=dt.columns[1:]
dt_drugs=dt.groupby('Unnamed: 0')[cols_to_sum].sum()
dt_drugs

,1.Ciutat Vella,2.Eixample,3.Sants- Montjuïc,4.Les Corts,5.Sarrià- Sant Gervasi,6.Gràcia,7.Horta- Guinardó,8.Nou Barris,9.Sant Andreu,10.Sant Martí
Unnamed: 0,,,,,,,,,,
Negarse,4.0,3.0,5.0,0.0,1.0,0.0,4.0,1.0,0.0,9.0
Negativo,287.0,219.0,423.0,70.0,188.0,112.0,170.0,72.0,182.0,319.0
Positivo,385.0,435.0,631.0,65.0,231.0,126.0,198.0,190.0,295.0,495.0

In [10]:
#dt_drugs['Total'] = dt_drugs[['Negarse','Negativo','Positivo']].sum(axis=0)
cols=dt.columns[1:]
total=dt.groupby('Unnamed: 0')[cols].sum(axis=1)
#dt_drugs['Total'] = dt_drugs.groupby(('Unnamed: 0')['Negarse','Negativo']).sum(axis=0)

In [11]:
total

,1.Ciutat Vella,2.Eixample,3.Sants- Montjuïc,4.Les Corts,5.Sarrià- Sant Gervasi,6.Gràcia,7.Horta- Guinardó,8.Nou Barris,9.Sant Andreu,10.Sant Martí
Unnamed: 0,,,,,,,,,,
Negarse,4.0,3.0,5.0,0.0,1.0,0.0,4.0,1.0,0.0,9.0
Negativo,287.0,219.0,423.0,70.0,188.0,112.0,170.0,72.0,182.0,319.0
Positivo,385.0,435.0,631.0,65.0,231.0,126.0,198.0,190.0,295.0,495.0

In [12]:
td=total.T
td

Unnamed: 0                 Negarse  Negativo  Positivo
1.Ciutat  \nVella              4.0     287.0     385.0
2.Eixample                     3.0     219.0     435.0
3.Sants-  \nMontjuïc           5.0     423.0     631.0
4.Les Corts                    0.0      70.0      65.0
5.Sarrià-  \nSant Gervasi      1.0     188.0     231.0
6.Gràcia                       0.0     112.0     126.0
7.Horta-  \nGuinardó           4.0     170.0     198.0
8.Nou  \nBarris                1.0      72.0     190.0
9.Sant  \nAndreu               0.0     182.0     295.0
10.Sant  \nMartí               9.0     319.0     495.0

In [13]:
td['Total'] = td[['Negarse','Negativo','Positivo']].sum(axis=1)

In [14]:
td

Unnamed: 0                 Negarse  Negativo  Positivo   Total
1.Ciutat  \nVella              4.0     287.0     385.0   676.0
2.Eixample                     3.0     219.0     435.0   657.0
3.Sants-  \nMontjuïc           5.0     423.0     631.0  1059.0
4.Les Corts                    0.0      70.0      65.0   135.0
5.Sarrià-  \nSant Gervasi      1.0     188.0     231.0   420.0
6.Gràcia                       0.0     112.0     126.0   238.0
7.Horta-  \nGuinardó           4.0     170.0     198.0   372.0
8.Nou  \nBarris                1.0      72.0     190.0   263.0
9.Sant  \nAndreu               0.0     182.0     295.0   477.0
10.Sant  \nMartí               9.0     319.0     495.0   823.0

In [56]:
td['Drug addicts'] = td['Positivo']/td['Total']*100
td['Antisystem'] = td['Negarse']/td['Total']*100
td

Unnamed: 0,Negarse,Negativo,Positivo,Total,Drug addicts,Antisystem
1.Ciutat \nVella,4.0,287.0,385.0,676.0,56.952663,0.591716
2.Eixample,3.0,219.0,435.0,657.0,66.210046,0.456621
3.Sants- \nMontjuïc,5.0,423.0,631.0,1059.0,59.584514,0.472144
4.Les Corts,0.0,70.0,65.0,135.0,48.148148,0.000000
5.Sarrià- \nSant Gervasi,1.0,188.0,231.0,420.0,55.000000,0.238095
6.Gràcia,0.0,112.0,126.0,238.0,52.941176,0.000000
7.Horta- \nGuinardó,4.0,170.0,198.0,372.0,53.225806,1.075269
8.Nou \nBarris,1.0,72.0,190.0,263.0,72.243346,0.380228
9.Sant \nAndreu,0.0,182.0,295.0,477.0,61.844864,0.000000
10.Sant \nMartí,9.0,319.0,495.0,823.0,60.145808,1.093560

In [51]:
Control=td.T

Control.columns=['Ciutat Vella','Eixample','Sants-Montjuïc','Les Corts','Sarrià-Sant Gervasi','Gràcia','Horta-Guinardó','Nou Barris','Sant Andreu','Sant Martí'
]
Control

,Ciutat Vella,Eixample,Sants-Montjuïc,Les Corts,Sarrià-Sant Gervasi,Gràcia,Horta-Guinardó,Nou Barris,Sant Andreu,Sant Martí
Unnamed: 0,,,,,,,,,,
Negarse,4.000000,3.000000,5.000000,0.000000,1.000000,0.000000,4.000000,1.000000,0.000000,9.000000
Negativo,287.000000,219.000000,423.000000,70.000000,188.000000,112.000000,170.000000,72.000000,182.000000,319.000000
Positivo,385.000000,435.000000,631.000000,65.000000,231.000000,126.000000,198.000000,190.000000,295.000000,495.000000
Total,676.000000,657.000000,1059.000000,135.000000,420.000000,238.000000,372.000000,263.000000,477.000000,823.000000
Drug addicts,56.952663,66.210046,59.584514,48.148148,55.000000,52.941176,53.225806,72.243346,61.844864,60.145808
Antisystem,0.591716,0.456621,0.472144,0.000000,0.238095,0.000000,1.075269,0.380228,0.000000,1.093560

In [44]:
da=data.T

In [48]:
da.columns=['Ciutat Vella','Eixample','Sants-Montjuïc','Les Corts','Sarrià-Sant Gervasi','Gràcia','Horta-Guinardó','Nou Barris','Sant Andreu','Sant Martí'
]
da
da.drop(['District'], axis=0)

,Ciutat Vella,Eixample,Sants-Montjuïc,Les Corts,Sarrià-Sant Gervasi,Gràcia,Horta-Guinardó,Nou Barris,Sant Andreu,Sant Martí
Perception,"5,2","6,9","6,2","7,3","6,8","7,0","6,3","5,9","6,3","6,1"

In [53]:
frames = [da, Control]

rsult = pd.concat(frames)
rsult
rsult.drop(['District'], axis=0)

,Ciutat Vella,Eixample,Sants-Montjuïc,Les Corts,Sarrià-Sant Gervasi,Gràcia,Horta-Guinardó,Nou Barris,Sant Andreu,Sant Martí
Perception,"5,2","6,9","6,2","7,3","6,8","7,0","6,3","5,9","6,3","6,1"
Negarse,4,3,5,0,1,0,4,1,0,9
Negativo,287,219,423,70,188,112,170,72,182,319
Positivo,385,435,631,65,231,126,198,190,295,495
Total,676,657,1059,135,420,238,372,263,477,823
Drug addicts,56.9527,66.21,59.5845,48.1481,55,52.9412,53.2258,72.2433,61.8449,60.1458
Antisystem,0.591716,0.456621,0.472144,0,0.238095,0,1.07527,0.380228,0,1.09356